## .NET
bin/
obj/
*.user
*.suo
.vs/
*.dll
*.pdb

## Test results
TestResults/
coverage/*.xml

## EF Core
*.mdf
*.ldf

## Node / Angular
frontend/**/node_modules/
frontend/**/dist/
frontend/**/.angular/
frontend/**/npm-debug.log*
frontend/**/ng_serve.log

## Environment / secrets
*.env
appsettings.*.local.json
secrets.json

## OS
.DS_Store
Thumbs.db

## IDE
.idea/
*.swp

## Logs
*.log
